{% extends 'base.html.twig' %}

{% block title %}Rucker | Manager{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body{
        min-height: 30rem;
            position: relative;
            display: table;
            width: 100%;
            padding-top: 8rem;
            padding-bottom: 8rem;
            font-family: sans-serif;
            background: url("{{asset('a.jpg', 'image')}}");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    section{
        height: 200px
    }
</style>

<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
{% endblock %}
